@use "@angular/material" as mat;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

:root {
  --header-height: 4rem;
  --sidebar-width: 15rem;
  --sidebar-collapsed-width: 2.5rem;

  --background: #ffffff;
  --foreground: #000000;

  --header: #ffffff;
  --header-foreground: #000000;

  --sidebar: #f0f0f0;
  --sidebar-foreground: #000000;

  --border: #f0f0f0;
  --input-border: #d0d0d0;

  --primary: #2d67e3;
  --primary-foreground: #ffffff;

  --accent: #f0f0f0;
  --accent-foreground: #000000;

  --icon: #e3e3e6;
  --icon-foreground: #3f3f46;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: var(--foreground);
}

svg.lucide {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}
