<div class="signup">
  <a class="logo" routerLink="/">{{ title }}</a>
  <form class="form">
    <h2 class="form-title">Create your account</h2>
    <div class="form-wrapper">
      <div class="form-group">
        <label for="firstname">First name</label>
        <input
          type="text"
          placeholder="Andrej"
          id="firstname"
          name="firstname"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input
          type="text"
          placeholder="Koller"
          id="lastname"
          name="lastname"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="name@domain.com"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="location">Company location</label>
      <input
        type="text"
        placeholder="City, Country"
        id="location"
        name="location"
      />
    </div>
    <div class="form-group">
      <label for="phone">Phone number</label>
      <input type="tel" placeholder="+49 123 4567890" id="phone" name="phone" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Enter your password"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        placeholder="Confirm your password"
        id="confirm-password"
        name="confirm-password"
        required
      />
    </div>
    <button class="form-button" type="submit">Create Account</button>
  </form>
  <p class="form-text">
    Already have an account?
    <a class="form-link" routerLink="/login">Login</a>
  </p>
</div>
